.cliente-info-container {
  max-width: 700px;
  margin: 0 auto 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f2ffe9;
}

.title-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cliente-info-title {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.cliente-group-title {
  list-style: none;
  padding: 0;
}

.cliente-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.cliente-dropdown-title h3 {
  font-size: 20px;
  cursor: pointer;
}

.cliente-dropdown-title {
  background-color: #0022ff;
  padding: 8px;
  border-radius: 5px;
  color: white;
}

.cliente-dropdown-title:hover {
  background-color: #01a5f7;
}

.cliente-cadastro-list {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}

.cliente-cadastro-list h3 {
  background-color: #a0e9ff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.cliente-peca-list {
  list-style: none;
  padding: 0;
}

.cliente-peca-list li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

span {
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.empty {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  border-top: 2px solid #ddd;
}

.btn-send {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}
.btn-send:hover {
  background-color: #327435;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.status button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}
.status button:hover {
  background-color: #327435;
}

.status p {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .cliente-info-container {
    max-width: 600px;
  }
}

@media (max-width: 425px) {
  .cliente-info-container {
    max-width: 350px;
  }
  .cliente-info-title {
    font-size: 25px;
  }

  .cliente-dropdown-title h3 {
    font-size: 20px;
  }

  .cliente-cadastro-list h3 {
    font-size: 18px;
  }

  .cliente-peca-list li {
    font-size: 16px;
  }

  .btn-send {
    font-size: 15px;
  }
}

.text-yellow {
  color: yellow;
}

.text-green {
  color: rgb(77, 255, 0);
}
