/* ClienteInfo.css */

.cliente-info-container {
  max-width: 700px;
  margin: 0 auto 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f2ffe9;
}

.cliente-info-title {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.cliente-group-title {
  list-style: none;
  padding: 0;
}

.cliente-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.cliente-dropdown-title h3 {
  font-size: 20px;
  cursor: pointer;
}

.cliente-dropdown-title {
  background-color: #00a9ff;
  padding: 8px;
  border-radius: 5px;
}

.cliente-dropdown-title:hover {
  background-color: #89cff3;
}

.cliente-cadastro-list {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}

.cliente-cadastro-list h3 {
  background-color: #a0e9ff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.cliente-peca-list {
  list-style: none;
  padding: 0;
}

.cliente-peca-list li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

span {
  margin-bottom: 100px;
  padding-bottom: 100px;
}
